<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a arning or sucess message in the components</li>
        <li>Style the Components approprietaly (maybe some red/greem text?)</li>
        </ol>
        <p>Use external or internal templates and styles!</p>
        <p>Feel free to create more components, nest them into each other or play around whith
          different types of selectors!
        </p>
        <hr>
        <app-servers></app-servers>
    </div>
  </div>
</div>
